@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@theme {
  --color-brand-blue: #0052cc;
  --color-brand-dark: #172b4d;
  --color-surface-gray: #f4f5f7;

  --spacing-section: 80px;
  --spacing-card-p: 24px;

  --font-custom: "Source Sans 3", sans-serif;
}

@layer base {
  h1 {
    font-family: var(--font-custom);
    color: var(--color-brand-dark);
    font-weight: 700;
    line-height: 1.2;
    font-size: 2.5rem;
  }
  h3 {
    font-family: var(--font-custom);
    color: var(--color-brand-dark);
    font-weight: 700;
    line-height: 1.2;
    font-size: 2rem;
  }

  @media (min-width: 1024px) {
    h1 {
      font-size: 3.75rem; /* 60px for Desktop */
    }
    h2 {
      font-size: 2.7rem;
    }
  }
}
